/* Reset & Font */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
   background: linear-gradient(135deg, #4e2bbf, #8b6cf6);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo img {
    height: 50px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
}

.login {
    padding: 8px 20px;
    background: rgb(117, 11, 216);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Main */
main {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 30px;
    color: #ffffff;
}

/* Card Form */
.card-form {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.trip-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trip-form input {
    width: 80%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Button */
.cta-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-whatsapp {
    width: 80%;
    padding: 15px;
    background-color: #25d366;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
}

.btn-whatsapp:hover {
    background-color: #1ebe57;
    transform: translateY(-2px);
}

/* Footer */
.site-footer {
    background: #eaf5bc;
    color: rgb(0, 0, 0);
    padding: 50px 5% 20px;
    margin-top: 50px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.footer-brand img {
  width: 230px;
  filter: grayscale(0);
}

.footer-col h4 {
    font-size: 14px;
    margin-bottom: 20px;
    color: #ff8c00;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col li {
    margin-bottom: 10px;
    font-size: 13px;
    color: #000000;
}

.social {
    display: flex;
    gap: 15px;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 20px;
    margin-top: 30px;
    font-size: 12px;
    color: #777;
}